    body {
        background-color: #d5f4e6;
        font-family: 'Arial', sans-serif;
        overflow-x: hidden;
    }

    .navbar {
        background-color: #034f84 !important;
        padding: 15px;
    }
    .icon-green {
        color: green;
    }

    .icon-yellow {
        color: orange;
    }

    .icon-red {
        color: red;
    }

    .container-flex {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }

    .hero:hover, .results:hover {
        transform: scale(1.02);
    }

    .hero, .results {
        flex: 1;
        padding: 30px;
        background-color: #9ff096;
        border-radius: 10px;
        margin: 10px;
        text-align: center;
        transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    }

    .results {
        background-color: #9ff096;
        display: none;
    }

    .hidden {
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .visible {
        opacity: 1;
        transform: translateY(0);
    }
    .how-it-works-section-heading{
        color:#232323;
        font-weight: bold;
        text-align: center;
    }
    .btn-analyze {
        background-color: #6166e8;
        color: black;
        border-radius: 6px;
        height: 30px;
        width: 100px;
        border-width: 0px;
        text-align: center;
        font-size: 15px;
        transition: background-color 0.3s, transform 0.2s;
}

        .btn-analyze:hover {
            background-color: #454cd8;
            transform: scale(1.05);
        }

    .footer {
        background-color: #034f84 !important;
        color: white;
        text-align: center;
        padding: 10px;
    }

    .how-it-works {
        margin: 20px;
        text-align: center;
        background-color: #a5c7f3;
        border-radius: 10px;
        padding: 20px;
        transition: all 0.3s ease-in-out;
    }

  
    .how-it-works-cards-alignment{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .how-it-works-section-cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #a5c7f3;
      transition: all 0.3s ease-in-out;
      padding: 18px;
      padding-top: 20px;
      height: 280px;
      width: 250px;
      border-radius:10px;
      margin-bottom: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.how-it-works-section-cards:hover{
    background-color: #87b3f7;
}